{% macro field(value, label,
	is_mod=False,
	is_value_calculated=False,
	is_optional=False) -%}
{%- if not is_optional or value -%}

<div class="squeeze">
	<div class="card">
		<div class="label">
			{{ label }}
		</div>
		<div>
			{%- if is_value_calculated -%}
				{{ show_calculation(value, is_mod=is_mod) }}
			{%- else -%}
				{{ value | mod if is_mod else value }}
			{%- endif -%}
		</div>
	</div>
</div>
{%- endif -%}
{%- endmacro -%}

{%- macro link(value, type, id=False) -%}
{%- if not id -%}
	<a href="{{ type }}/{{ value.lower() }}.html">{{ value }}</a>
{%- else -%}
	<a href="{{ type }}/{{ id }}.html">{{ value }}</a>
{%- endif -%}
{%- endmacro -%}

{%- macro linked_field(value, type, label) -%}
	{{ field(link(value, type), label) }}
{%- endmacro -%}

{%- macro show_calculation(calc, is_mod) -%}
	{{ calc.total | mod if is_mod else calc.total}}
	<span class="tooltip"><sup>ℹ</sup>
		<span class="tooltiptext">
			{{ calc.expanded }}
		</span>
	</span>
{%- endmacro-%}

{%- macro sources_footer(sources)-%}

	{% if sources %}
	<footer class="banner">
		<div class="banneritem sources">
			Sources:
			{% for source in read_sources(sources) %}
			<p>
				{{ source }}
			</p>
			{% endfor %}
		</div>
	</footer>
	{%- endif -%}

{%- endmacro-%}
