{% import 'rules/helpers/_helpers.html.j2' as helpers %}

{% extends "rules/helpers/_sourced.html.j2" %}

{% block title %}Races - {{ page_model.name }}{% endblock %}
{% block content %}
	<h1>{{ page_model.name }}</h1>
	<div class="row">
	{{ helpers.field(page_model.size, 'Size') }}
	{{ helpers.field(page_model.type, 'Type') }}
	</div>
<div class="main-content">
	<div class="row">
		{{ page_model.text | markdown }}
		<h2>{{ page_model.name }} Racial Traits</h2>
		<ul>
		{%- for trait in page_model.racial_traits -%}
			<li id="{{trait.name}}">
			{{ ("**" + trait.name + ":** " + trait.text) | markdown }}
			</li>

		{%- endfor -%}
		</ul>
		<h2>Alternate Racial Traits</h2>
		<p>The following racial traits may be selected instead of existing
		{{ page_model.name }} racial traits. Consult your GM before selecting any
		of these new options.
		</p>
		{%- for subtype, text in page_model.alternate_traits.items() -%}
			<p>
				{{ ("**" + subtype + ":** " + text) | markdown }}
			</p>
		{%- endfor -%}
		<h2>Racial Subtypes</h2>
		<p>You can combine various alternate racial traits to create
		{{ page_model.name }} subraces or variant races, such as the following.
		</p>
		{%- for subtype, text in page_model.racial_subtypes.items() -%}
			<p>
				{{ ("**" + subtype + ":** " + text) | markdown }}
			</p>
		{%- endfor -%}
		<h2>Favored Class Options</h2>
		<p>The following options are available to any {{ page_model.name }} who
		have the listed favored class, and unless otherwise stated, the
		bonus applies each time you select the class reward.</p>
		{%- for class, bonus in page_model.favored_class_bonus.items() -%}
			<p>
				{{ ("**" + class + ":** " + bonus) | markdown }}
			</p>
		{%- endfor -%}

		{% if page_model.height_and_weight or page_model.ages %}
		<h2>Statistics</h2>

		{% if page_model.ages %}
		<h3>{{ page_model.name }} - Random starting age</h3>
		<table>
		<tr>
		<th>Adulthood</th>
		<th>Intuitive</th>
		<th>Self-Taught</th>
		<th>Trained</th>
		</tr>
		<tr>
			<td>{{ page_model.ages.adulthood }}</td>
			<td>{{ page_model.ages.intuitive }}</td>
			<td>{{ page_model.ages.self_taught }}</td>
			<td>{{ page_model.ages.trained }}</td>
		</tr>
		</table>
		<h3>{{ page_model.name }} - Aging Effects</h3>
		<table>
		<tr>
		<th>Middle Age</th>
		<th>Old</th>
		<th>Venerable</th>
		<th>Maximum</th>
		</tr>
		<tr>
			<td>{{ page_model.ages.middle_age }}</td>
			<td>{{ page_model.ages.old }}</td>
			<td>{{ page_model.ages.venerable }}</td>
			<td>{{ page_model.ages.maximum }}</td>
		</tr>
		</table>
		{% endif %}


		{% if page_model.height_and_weight %}
		<h3>{{ page_model.name }} - Random Height and Weight</h3>
		<table class="raceHeightWeight">
		<tr>
		<th>Gender</th>
		<th>Base Height</th>
		<th>Height Modifier</th>
		<th>Base Weight</th>
		<th>Weight Modifier</th>
		</tr>
		{%- for gender_measurement in page_model.height_and_weight.genders -%}
		<tr>
			<td>{{ gender_measurement.name }}</td>
			<td>{{ gender_measurement.base_height }}</td>
			<td>{{ gender_measurement.height_modifier }}</td>
			<td>{{ gender_measurement.base_weight }}</td>
			<td>{{ page_model.height_and_weight.weight_modifier }}</td>
		</tr>
		{% endfor %}
		</table>
		{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}
