{%- if summary -%}
<details>
<summary>{{page_model.name}}</summary>
{%- else -%}
## {{page_model.name}}
{%- endif %}

|Languages    |
|-------------|
|{{page_model.description.language}}|
{%- if summary %}
</details>
{%- endif %}

{% if summary -%}
<details>
<summary>Defense</summary>
{%- else -%}
### Defense
{%- endif %}

|Ref|Fort|Will|AC |Touch|Flat
{%- for cmd in page_model.cmd -%}
	|{{ 'CMD' + (cmd.name if cmd.name else '') }}
{%- endfor -%}|
|---|----|----|---|-----|----{%- for _ in page_model.cmd -%}|----{%- endfor -%}|
|{{page_model.ref_save}}|{{page_model.fort_save}}|{{page_model.will_save}}|{{page_model.get_ac()}}|{{page_model.get_ac(touch=True)}}|{{page_model.get_ac(flat=True)}}
{%- for cmd in page_model.cmd -%}
	|{{ cmd.calculation }}
{%- endfor -%}|
{%- if summary %}
</details>
{%- endif %}

{% if summary -%}
<details>
<summary>Offense</summary>
{%- else -%}
### Offense
{%- endif %}

|Speed|BAB
{%- for cmb in page_model.cmb -%}
	|{{ 'CMB' + (cmb.name if cmb.name else '') }}
{%- endfor -%}|
|-----|---
{%- for cmb in page_model.cmb -%}
	|----
{%- endfor -%}|
|{{page_model.speed}}|{{page_model.bab}}
{%- for cmb in page_model.cmb -%}
	|{{ cmb.calculation }}
{%- endfor -%}|

#### Attacks

|Name |To Hit | Damage | Critical |
|-----|-------|--------|----------|
{%- for attack in page_model.attacks %}
| {{ attack.name }} | {%- for to_hit in attack.get_iterative_to_hit() -%} 
{{to_hit}}{%- if not loop.last %} / {% endif -%}
{%- endfor -%}|{{ attack.damage }}|{{attack.critical}}|
{%- endfor %}
{%- if summary %}
</details>
{%- endif %}


{% if summary -%}
<details>
<summary>Skills</summary>
{%- else -%}
### Skills
{%- endif %}

|Name| Ranks | Total |
|----|-------|-------|
{% for skill in skills -%}
{%- set skill_ranks = page_model.get_skill_ranks(skill.name) -%}
{% if not skill.trained_only or skill_ranks > 0 -%}
|{{skill.name}}|{{skill_ranks}}|{{page_model.get_skill_calculation(skill)}}|
{% endif -%}
{%- endfor %}
{%- if summary %}
</details>
{%- endif %}

