{%- import 'rules/helpers/_helpers.html.j2' as helpers -%}

{% extends "rules/helpers/_sourced.html.j2" %}
{% block title %}
	{{ page_model.name }}
{% endblock %}
{% block content %}
<div class="row">
<div class="main-section" >
	{% include 'rules/character/partials/_description.html.j2' %}
</div>
<div class="main-section" >
	{{ helpers.field(page_model.total_hp, 'Total HP', is_value_calculated=True) }}
	{{ helpers.field(page_model.initiative, 'Initiative', is_value_calculated=True, is_mod=True) }}
	{{ helpers.field(page_model.speed, 'Speed') }}
</div>
</div>
<div class="row">
<div class="main-section" >
	<details>
	<summary><h2>Defense</h2></summary>
	{% include 'rules/character/partials/_defense.html.j2' %}
	</details>
</div>
<div class="main-section" >
	<details>
	<summary><h2>Offense</h2></summary>
	{% include 'rules/character/partials/_offense.html.j2' %}
	</details>
</div>
</div>
<div class="row">
	<div class="main-section">
		{% include 'rules/character/partials/_ability_scores.html.j2' %}
	</div>
	<div class="main-section">
		{% include 'rules/character/partials/_skills.html.j2' %}
	</div>
</div>
<div class="row">

<div class="main-section">
	<details>
		<summary><h2>Special Abilities</h2></summary>
		{%- for feature_type, features in page_model.features.items() -%}
		<h3>{{ feature_type }}</h3>
		{%- for feature in features -%}
		{%- if not feature.hidden -%}
		<div class="row">
			<details>
				<summary>
					<h4>{{ feature.name }}</h4>
					{% if feature.link -%}
					<a href="{{ feature.link }}">&#128279;</a>
					{%- endif %}
					{% if feature.aon_link -%}
					<a href="{{ feature.aon_link }}">AoN</a>
					{%- endif %}
					{% if feature.d20_link -%}
					<a href="{{ feature.d20_link }}">d20</a>
					{%- endif -%}
				</summary>
				<div class="col-12">
					{{ feature.text | markdown }}
				</div>
			</details>
			<p />
		</div>
		{%- endif -%}
		{%- endfor -%}
		{%- endfor -%}
	</details>
</div>
{%- if page_model.spells -%}
<div class="main-section">
	<details>
		<summary><h2>Spells</h2></summary>
		{%- for spell in page_model.spells -%}
		<div class="row">
			<details>
				<summary>
					<h3>{{ spell.name }}</h3>
					{% if spell.link -%}
					<a href="{{ spell.link }}">&#128279;</a>
					{%- endif %}
					{% if spell.aon_link -%}
					<a href="{{ spell.aon_link }}">AoN</a>
					{%- endif %}
					{% if spell.d20_link -%}
					<a href="{{ spell.d20_link }}">d20</a>
					{%- endif -%}
				</summary>
				<div class="col-12">
					{% include 'rules/spells/_spell_body.html.j2' %}

				</div>
			</details>
			<p />

		{%- endfor -%}
	</details>
</div>
{%- endif -%}
{%- if page_model.inventory -%}
<div class="main-section">
	<details>
		<summary><h2>Inventory</h2></summary>
		<div class="row">
		{{ helpers.field(page_model.inventory.gold | string + ' gp', 'GP') }}
		{{ helpers.field(page_model.inventory.weight | string + ' lbs.', 'Inventory Weight') }}
		{{ helpers.field(page_model.inventory.value | string + ' gp', 'Value') }}
		</div>
		{%- if page_model.inventory.weapons -%}
		<h3>Weapons</h3>
			{%- for weapon in page_model.inventory.weapons -%}
			<div class="row">
			<details>
				<summary>{{ weapon.name }}</summary>
				{{ helpers.field(weapon.cost | string + ' gp', 'Cost') }}
				{{ helpers.field(weapon.weight | string + ' lbs.', 'Weight') }}
				<div class="col-12">
					{{ weapon.text | markdown }}
					{%- for ability in weapon.weapon_ability -%}
						{{ helpers.field(ability.description, ability.name) }}
					{%- endfor -%}
				</div>
			</details>
			<p />
			</div>
		{%- endfor -%}
		{%- endif -%}
		{%- if page_model.inventory.armor -%}
		<h3>Armor</h3>
		{%- for armor in page_model.inventory.armor -%}
			<div class="row">
			<details>
				<summary>{{ armor.name }}</summary>
				{{ helpers.field(armor.cost | string + ' gp', 'Cost') }}
				{{ helpers.field(armor.weight | string + ' lbs.', 'Weight') }}
				<div class="col-12">
					{{ armor.text | markdown }}
					{%- for ability in armor.armor_ability -%}
						{{ helpers.field(ability.description, ability.name) }}
					{%- endfor -%}
				</div>
			</details>
			<p />
			</div>
		{%- endfor -%}
		{%- endif -%}
		{%- if page_model.inventory.items -%}
		<h3>Items</h3>
		{%- for item in page_model.inventory.items -%}
			<div class="row">
			<details>
				<summary>{{ item.name }}</summary>
				{{ helpers.field(item.cost | string + ' gp', 'Cost') }}
				{{ helpers.field(item.weight | string + ' lbs.', 'Weight') }}
				<div class="col-12">
					{{ item.text | markdown }}
				</div>
			</details>
			<p />
			</div>
		{%- endfor -%}
		{%- endif -%}
	</details>
</div>
{%- endif -%}
</div>

{% endblock %}
