{%- import '_helpers.html.j2' as helpers -%}

{% extends "_sourced.html.j2" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
	{%- for choice in options -%}
	<h1>{{ choice.name }}</h1>
	{%- for feature in choice.features -%}
		<h2>{{ feature.name | markdown }}</h2>
			{{ feature.text | markdown }}
	{%- endfor -%}
{%- endfor -%}
{% endblock %}
