{%- set base_header_level = 3 -%}
{{ '#' * base_header_level }} [{{ name | safe }}]({{ base_url + "weapon_abilities/" + id }})

{% if bonus_cost -%}
- **Price**: {{ bonus_cost | safe }}
{% elif price -%}
- **Price**: {{ price | safe }}
{%- endif -%}
{%- if aura -%}
- **Aura**: {{ aura | safe }}
{%- endif %}
{%- if caster_level %}
- **Caster Level**: {{ caster_level | safe }}
{%- endif %}

{{ description }}

