{%- import 'rules/helpers/_helpers.html.j2' as helpers -%}

{% extends "rules/helpers/_sourced.html.j2" %}
{% block title %}Weapon - {{ page_model.name }}{% endblock %}
{% block content %}
	<h1>{{ page_model.name }}</h1>
	<div class="row">
	</div>
<div class="main-content">
<div class="row">
{% if page_model.bonus_cost %}
	{{ helpers.field(page_model.bonus_cost, "Price", is_mod=True)}}
{% elif page_model.price %}
	{{ helpers.field(page_model.price, "Price", is_mod=false)}}
{% endif %}
{% if page_model.aura %}
	{{ helpers.field(page_model.aura, "Aura")}}
{% endif %}
{% if page_model.caster_level %}
	{{ helpers.field(page_model.caster_level, "Caster Level")}}
{% endif %}
</div>

	{{ page_model.description | markdown }}

	{% if page_model.construction_requirements %}
	<div>
	<h3>Construction Requirements</h3>
		{% if page_model.construction_requirements.feats %}
		<h4>Feats</h4>
		<ul>
		{% for feat in page_model.construction_requirements.feats %}
			<li>{{ feat | markdown }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{% if page_model.construction_requirements.spells %}
		<h4>Spells</h4>
		<ul>
		{% for spell in page_model.construction_requirements.spells %}
			<li>{{ spell | markdown }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{% if page_model.construction_requirements.special %}
		<h4>Special</h4>
		<ul>
		{% for special in page_model.construction_requirements.special %}
			<li>{{ special | markdown }}</li>
		{% endfor %}
		</ul>
		{% endif %}
	</div>
	{% endif %}

</div>
{% endblock %}

