{%- set base_header_level = 3 -%}
{{ '#' * base_header_level }} [{{ name | safe }}]({{ base_url + "weapons/" + id }})
{% if bonus_cost %}
- **Type**: {{ type | safe }}
{% endif %}
{%- if damage %}
- **Damage**: {{ damage | safe }}
{%- endif %}
{%- if damage_type %}
- **Caster Level**: {{ damage_type | safe }}
{%- endif %}
{%- if critical %}
- **Critical**: {{ critical | safe }}
{%- endif %}
{%- if range_increment %}
- **Range Increment**: {{ range_increment | safe }}
{%- endif %}

{{ text }}

