 /* Navbar container */
 body {
  background-color: #FFDDC0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  background-color: #CF0075;
  color: white;
}


.banner {
  background-color: #EA1D91;
}

.card {
	background-color: #1DEA1D;
}

.card a {
  color: #CF0075;
}

.card a:visited {
  color: #6D003E;
}

/* Add a red background color to banner links on hover */
.banner a:hover, .dropdown:hover .dropbtn {
  background-color: #FFA55B;
  color: black;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #EE730D;
}


/* Links inside the banner */
.banner a {
  color: white;
}

/* Dropdown button */
.dropdown .dropbtn {
  color: white;
}

.classOverview { border-collapse: collapse; }
.classOverview th { background-color:#1DEA1D;padding:5px; }
.classOverview td, .classOverview th { border:0; }
.classOverview td { border:1px dotted #1DEA1D; margin: 5px;text-align: center; }
.classOverview td.feature {text-align: left; }

.classOverview tr:nth-child(odd) { background-color: #FFDDC0 }
.classOverview tr:nth-child(even) { background-color: #FCBEE1 }

.classOverview td p {
  margin: 5px;
}
