{%- set base_header_level = 3 -%}
{{ '#' * base_header_level }} [{{ name | safe }}]({{ base_url + "spells/" + id }})

- **Casting Time**: {{ casting_time | safe }}
{%- if range %}
- **Range**: {{ range | safe }}
{%- endif %}
{%- if duration %}
- **Duration**: {{ duration | safe }}
{%- endif %}
{%- if saving_throw %}
- **Saving Throw**: {{ saving_throw | safe }}
{%- endif %}
{%- if spell_resistance %}
- **SR**: {{ spell_resistance | safe }}
{%- endif %}
{%- if area %}
- **Area**: {{ area | safe }}
{%- endif %}
{%- if target %}
- **Target**: {{ target | safe }}
{%- endif %}

{{ text | safe}}

